.vareditor {
    padding: 10px;
}

.deleteButton {
    vertical-align: middle !important;
}


.var-input {
    border-color: transparent;
    background-color: transparent;
    padding: 10px;
    color: white;
    outline: none;
    border-radius: 4px;
    font-size: medium;
    display: inline-block;
    width: calc(45% - 48px);
    
}

.equals {
    margin: 8px;
}

.var-input:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.var-input:active {
    background-color: rgba(255, 255, 255, 0.24);
}