.slider-widget {
    width: 80% !important;
    margin-right: none;
    margin-left: none;
    min-width: none;
}

.select-widget {
  width: 150px;
}

.settings-label {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }



select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #000;
}

  